/* Stili generali */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Stili per schermi piccoli (mobile) */
  @media only screen and (max-width: 768px) {
    body {
      background-color: #f8f9fa; /* Colore di sfondo diverso per il mobile */
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  /* Layout principale */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Contenuto dinamico */
  .content {
    flex: 1; /* Rende questa sezione flessibile in altezza */
    overflow-y: auto;
  }
  
  /* BottomNavigation */
  .bottom-nav {
    height: 60px; /* Altezza del BottomNavigation */
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Container principale */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Container per mobile */
  .mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Pagina 404 */
  .not-found {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  
  /* Pagina 404 per mobile */
  .mobile-not-found {
    color: red;
    font-size: 1.5rem;
    text-align: center;
  }


/* Barra di navigazione in basso */
.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px; /* Altezza aumentata per una barra più grande */
  background-color: #2c3e50; /* Colore di sfondo */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000; /* Per tenerlo sopra gli altri contenuti */
}

.nav-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1; /* Distribuisce equamente lo spazio tra i bottoni */
}

.nav-icon {
  width: 35px; /* Dimensione maggiore per le icone */
  height: 35px;
  color: white; /* Per le icone SVG come quella utente */
}

/* Aggiungi effetti al passaggio del mouse */
.nav-button:hover {
  background-color: #34495e; /* Colore leggermente più scuro al passaggio del mouse */
}

  /* Garantisce che il corpo e il contenitore della mappa non abbiano margini o padding */
html,
body,
#root {
  height: 100%;
  margin: 0; /* Rimuove margini predefiniti */
  padding: 0; /* Rimuove padding predefiniti */
}

/* La mappa deve occupare tutta la finestra */
.leaflet-container {
  height: 100%;
  width: 100%;
  border: none; /* Rimuove eventuali bordi */
}

/* Se vuoi anche rimuovere il bordo dal TileLayer (sfondo della mappa) */
.leaflet-tile {
  border: none;
}

/* Bottone per recentrare la mappa */
  
  .recenter-button:hover {
    background-color: #0056b3; /* Colore più scuro al passaggio del mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1); /* Effetto ingrandimento */
  }
 
  
  .recenter-button {
    position: fixed; /* Posizionamento fisso rispetto alla finestra */
    right: 20px; /* Margine dal lato destro */
    z-index: 1000; /* Priorità alta */
    width: 60px;
    height: 60px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .recenter-button:hover {
    background-color: #2c3e50;
  }
  
  .recenter-button.clicked {
    background-color: #00bcd4; /* Colore temporaneo dopo il clic */
    transform: scale(1); /* Effetto di zoom leggero */
  }
  
  .tutorial-button:hover {
    background-color: #d2dae2; /* Colore più scuro al passaggio del mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1); /* Effetto ingrandimento */
  }
 
  
  .tutorial-button {
    position: fixed; /* Posizionamento fisso rispetto alla finestra */
    right: 20px; /* Margine dal lato destro */
    z-index: 1000; /* Priorità alta */
    width: 60px;
    height: 60px;
    background-color: #838990;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .tutorial-button:hover {
    background-color: #838990;
  }
  
  .tutorial-button.clicked {
    background-color: #d2dae2; /* Colore temporaneo dopo il clic */
    transform: scale(1); /* Effetto di zoom leggero */
  }

  
  .nav-icon {
    font-size: 24px;
  }
  

  .custom-end-marker {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .end-trail-button {
    position: absolute;
    bottom: 90px; /* Posizionato sotto il pulsante "recenter" */
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #e74c3c; /* Colore rosso per indicare la fine del percorso */
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .end-trail-button:hover {
    background-color: #c0392b; /* Colore più scuro al passaggio del mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1); /* Effetto ingrandimento */
  }
  

  .layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    flex: 1;
    overflow-y: auto;
  }
  
  /* Container per AddTrail e BottomNavigation */
  .bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Sfondo comune */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .add-trail-container {
    padding: 10px;
    background-color: #f9f9f9; /* Sfondo specifico per AddTrail */
    border-top: 1px solid #ddd;
  }
  
  .bottom-nav {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
  }
  
  .auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .auth-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  

/* Contenitore principale */
.trail-component {
  position: fixed;
  bottom: 55px; /* Default position per active/start */
  right: 0;
  z-index: 1000; /* Mantiene sopra gli altri elementi */
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenitore del pulsante di inizio */
.trail-component button.start-button,
.trail-component button.end-button {
  background-color: #2ecc71;
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.trail-component button.start-button:hover {
  background-color: #27ae60; /* Cambia colore al passaggio del mouse */
}

.trail-component button.end-button {
  background-color: red;
}

.trail-component button.end-button:hover {
  background-color: darkred;
}

/* Contenitore active */
.trail-component .active-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Contenitore del riepilogo (centrale) */
.trail-component .recap-container {
  position: fixed; /* Per posizionarlo al centro */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrare esattamente */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.trail-component .recap-container h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.trail-component .recap-container p {
  margin: 5px 0;
  font-size: 16px;
}


/* Contenitore della SearchBar */
.search-bar-container {
  position: fixed;
  top: 10px; /* Posizione centrale in alto */
  left: 50%; /* Centrato orizzontalmente */
  transform: translateX(-50%); /* Corregge la posizione per centrare */
  z-index: 1000; /* Priorità sopra gli altri contenuti */
  width: 90%; /* Adatta la larghezza ai dispositivi più piccoli */
  max-width: 500px; /* Limita la larghezza su schermi più grandi */
  display: flex;
  justify-content: center;
}

/* Stile della barra di ricerca */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Sfondo bianco */
  border: 2px solid #ccc; /* Bordo sottile */
  border-radius: 25px; /* Angoli arrotondati */
  padding: 10px 15px; /* Spaziatura interna */
  width: 100%; /* Larghezza dinamica */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
}

/* Campo di input */
.search-input {
  flex: 1; /* Occupa lo spazio disponibile */
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

/* Bottone di ricerca */
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Dimensione dell'icona */
  color: #555;
  padding-left: 10px;
}

/* Effetto hover sul bottone */
.search-button:hover {
  color: #000; /* Colore più scuro al passaggio del mouse */
}

/* Effetto hover sull'input */
.search-input:focus {
  outline: none;
  border-bottom: 2px solid #007bff; /* Cambia il bordo quando attivo */
}

/* Contenitore dei suggerimenti */
.suggestions-container {
  position: absolute;
  top: calc(100% + 10px); /* Posiziona sotto la barra di ricerca */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adatta ai dispositivi più piccoli */
  max-width: 500px; /* Mantieni una larghezza massima */
  background-color: #ffffff; /* Sfondo bianco */
  border: 2px solid #ccc; /* Bordo sottile */
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
  z-index: 999; /* Priorità sopra gli altri contenuti */
  max-height: 200px; /* Altezza massima */
  overflow-y: auto; /* Abilita lo scorrimento verticale */
}

/* Elemento dei suggerimenti */
.suggestion {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  color: #333; /* Colore del testo */
}

/* Effetto hover sui suggerimenti */
.suggestion:hover {
  background-color: #f0f0f0; /* Sfondo al passaggio del mouse */
}

/* Titolo per le ricerche recenti */
.recent-searches h4 {
  margin: 10px 15px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #ddd; /* Separatore */
  padding-bottom: 5px;
}


/* Assistente ALBERO   */
.tree-assistant-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.tree-assistant-popup {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 300px;
  background-color: #ffffff;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.5s forwards;
}

.tree-assistant-content {
  padding: 15px;
  text-align: center;
}

.filters {
  margin-bottom: 15px;
  text-align: left;
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.generate-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #388e3c;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
